.form-table-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5vw;
}

.forms-table-form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.forms-table-input-label{
    align-self: flex-start;
    font-size: 1vw;
    font-weight: 800;
}
.forms-table-name-input{
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    padding: 0.5vw;
    border-radius: 5px;
    width: 24vw;
}
.forms-table-submit-button{
    padding: 1vw;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
    background-color: #cd6cf7;
    color: white;
    align-self: flex-end;
}