.pricing-app {
  text-align: center;
  padding: 2vh;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.plan {
  padding: 2vw;
  margin: 2vw;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px 0 rgba(121, 117, 117, 0.678), 0 4px 20px 0 rgba(105, 102, 102, 0.603);
}

.plan:hover {
  border: 3px solid #007bff;
}

.selected {
  border: 3px solid #007bff;
}

.price {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: roboto;
}

.features {
  list-style: none;
  padding: 0;
  display: flex;
  align-self: center;
}

.selected-plan-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Pricing-heading {
  font-family: roboto;
  font-size: 3.5vw;
  margin: 0px;
}

.pricing-button-select {
  background-color: rgb(103, 71, 255);
  border: none;
  padding: 7px;
  font-weight: bold;
  border-radius: 4px;
  color: white;
}

.pricing-paragraph {
  padding-top: 10vh;
  font-size: 1.5vw;
  font-family: roboto;
}

.pricing-button-select-buying {
  background-color: rgb(247, 177, 27);
  border: none;
  font-weight: bold;
  border-radius: 4px;
  font-size: 2vh;
  width: 10vw;
  height: 5vh;
}

.qr-code {
  height: 10vh;
  width: 10vw;
}
.pricing-image{
  height: 40vh;
  margin-top: 5vh;
  width: 30vw;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .plan {
    width: 40vw;
    padding: 4vw;
  }

  .price {
    font-size: 20px;
  }

  .pricing-paragraph {
    font-size: 2vw;
  }

  .pricing-button-select-buying {
    font-size: 2.5vh;
    width: 20vw;
    height: 6vh;
  }

  .selected-plan-details {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .plan {
    width: 60vw;
    padding: 6vw;
  }

  .price {
    font-size: 18px;
  }

  .pricing-paragraph {
    font-size: 2.5vw;
  }

  .pricing-button-select-buying {
    font-size: 3vh;
    width: 30vw;
    height: 7vh;
  }

  .Pricing-heading {
    font-size: 5vw;
  }
  .pricing-image{
    height: 50vh;
    margin-top: 5vh;
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .plan {
    width: 80vw;
    padding: 8vw;
  }

  .price {
    font-size: 16px;
  }

  .pricing-paragraph {
    font-size: 3vw;
  }

  .pricing-button-select-buying {
    font-size: 3.5vh;
    width: 40vw;
    height: 8vh;
  }

  .Pricing-heading {
    font-size: 6vw;
  }
}
