.form-table-client-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh;
    align-items: center;
}
.signup-image{
    height: 60vh;
    width: 30vw;
}