.nav{
    background-color: #36366f;
    display: flex;
    justify-content: space-around;
    padding: 3vh;
    align-items: center;
  
  }
  .nav-Home{
    color: white;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: roboto;
  }
  .nav-Home-logo{
    font-weight: 600;
    width: 5vw;
    text-align: center;
    text-decoration: none;
    font-family: "cursive";
  }
  .app-logo{
    height: 6vh;
    width: 9vw;
    border-radius: 5px;
  }